* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header a
{
    text-decoration: none;
    margin: 10px;
}

header p
{
    margin: 10px;
}

.startScreen, .questionScreen, .resultsScreen
{
    margin: 100px;
    text-align: center;
}

h1
{
    font-size: 45px;
}

.startScreen p
{
    font-size: 30px;
    margin: 10px 0;
}

.startScreen button
{
    font-size: 25px;
}

.questionScreen, .resultsScreen
{
    display: none;
}

.buttonWrapper
{
    text-align: left;
    margin: 25px 0;
}

.questionScreen button
{
    font-size: 25px;
}

.resultsScreen p
{
    font-size: 30px;
    margin: 10px 0;
}

.resultsScreen button
{
    font-size: 25px;
}

.resultSection
{
    display: none;
    border-top: solid 1px;
    margin: 50px;
}

